<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * This file is part of Mbiz_Setup for Magento.
 *
 * @license All rights reserved
 * @author Jacques Bodin-Hullin <j.bodinhullin@monsieurbiz.com> <jacquesbh>
 * @category Mbiz
 * @package Mbiz_Setup
 * @copyright Copyright (c) 2015 Monsieur Biz (http://monsieurbiz.com)
 */
-->
<config>
    <modules>
        <Mbiz_Setup>
            <version>0.1.0</version>
        </Mbiz_Setup>
    </modules>
    <global>
        <models>
            <mbiz_setup>
                <class>Mbiz_Setup_Model</class>
            </mbiz_setup>
        </models>
    </global>
</config>